pkgbase = mock-api-server
	pkgdesc = Lightweight TUI/mock server for running REST API from YAML/JSON description
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Hanashiko/mock-api-server
	arch = x86_64
	license = MIT
	makedepends = go
	source = main.go
	source = go.mod
	source = go.sum
	sha256sums = 2da1159a7c7249bfece36e0bd39f438a1fa7e11fcb837d653b1cbfb773283a91
	sha256sums = b49a5f276f1d5e39e58c51fb3ffea6315539c2ee91e2f7559ef85ae3b39eb61e
	sha256sums = 6a903795ec27f72787505588d99c5b4cecbb93e967d811d5469bdcf4263087be

pkgname = mock-api-server
